<h2 class="portfolio-header">
  Portfolio
</h2>
<p class="portfolio-copy">
  I have been fortunate to work on many challenging and exciting projects throughout my career as a developer + designer and it has given me a unique skillset and knowledge of working on projects from inception to completion.  Below are a collection of just some of my recent and favorite projects I have worked on.  I am always looking for new projects to expand my knowledge and awesome people to work with or for.  
</p>
{{#each model as |project|}}
  <section class="portfolio-container" data-name={{project.title}}>
    <h2 class="portfolio-header">
      {{project.title}}
    </h2>
    <p class="portfolio-copy">
      {{project.description}}
    </p>
    <ul class="portfolio-skills">
        {{#each project.skills as |skill|}}
          <li>
              {{skill}}
          </li>
        {{/each}}
    </ul>
    {{#each project.images as |image|}}
      <img src="{{image.imgUrl}}" alt="{{project.description}}" />
    {{/each}}
  </section>
{{/each}}
