<h2 class="portfolio-header">
	Resume
</h2>
<section>
	<dl class="">
		<dt>
		  {{model.name}}
		</dt>
		<dt>
		  {{model.experienceHeader}}
		</dt>
		<dd>
		  {{model.experienceText}}
		</dd>
	</dl>
</section>
<!-- {{project.workHeader}} -->
{{#each model.jobs as |job|}}
	<section>
	  <dl class="">
	    <dt>
	      {{job.title}}
	    </dt>
	    <dd class="resume__date">
	      {{job.dates}}
	    </dd>
	    <dt class="resume-experience">
	      {{job.position}}
	    </dt>
	    <dd>
	      {{job.description}}
	    </dd>
	  </dl>
	</section>
{{/each}}

<h2 class="portfolio-header">
	Skills
</h2>
<section class="resume-skills">
    <ul class="resume-skills--list">
     {{#each model.skills as |skill|}}
	      <li>
	      	{{skill.skill}}
	      </li>
      {{/each}}
    </ul>
</section>